/* Estilo base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background: #0a7aeb;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    text-align: left;
    margin: 10px 0;
}

.sidebar nav ul li a {
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/tec.jpg") no-repeat center center/cover;
    background-size: cover;
    height: 100%;
}

/* Seccion de bienvenida */
.welcome-section {
    background: rgba(255, 255, 255, 0.7); /* Fondo translúcido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.welcome-section h1 {
    font-size: 36px;
    color: #057ef8;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.welcome-section .btn-start {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bf7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-section .btn-start:hover {
    background-color: #000000;
}

/* Pie de pagina */
.main-footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
